################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/HNWNApplet/CMCS.Applets/CMCS.ChipChangeCode/bin/CMCS.Common.dll
/HNWNApplet/CMCS.Applets/CMCS.ChipChangeCode/bin/CMCS.DapperDber.dll
/HNWNApplet/CMCS.Applets/CMCS.ChipChangeCode/obj/x86
/.vs/HNWN_Applet/v15
/.vs
/HNWNApplet/CMCS.Applets/CMCS.EPCEmpower/bin/Logs
/HNWNApplet/CMCS.Applets/CMCS.EPCEmpower/bin/CMCS.Common.dll
/HNWNApplet/CMCS.Applets/CMCS.EPCEmpower/bin/CMCS.DapperDber.dll
/HNWNApplet/CMCS.CarTransport/CMCS.CarTransport.Out/bin/CMCS.CarTransport.Out.vshost.exe
/HNWNApplet/CMCS.CarTransport/CMCS.CarTransport.Weighter/bin/CMCS.CarTransport.Queue.exe.config
/HNWNApplet/CMCS.CarTransport/CMCS.CarTransport.Weighter/bin/CMCS.CarTransport.Queue.exe
/HNWNApplet/CMCS.Common/CMCS.Forms.UserControls/bin/CMCS.Forms.UserControls.dll
/HNWNApplet/CMCS.DumblyConcealer/CMCS.DumblyConcealer/bin/CMCS.Common.dll
/HNWNApplet/CMCS.DumblyConcealer/CMCS.DumblyConcealer.Win/bin/CMCS.DapperDber.dll
/HNWNApplet/CMCS.DumblyConcealer/CMCS.DumblyConcealer.Win/bin/CMCS.Common.dll
/HNWNApplet/CMCS.Hardware/BeltBalancer.SM6000/bin/BeltBalancer.SM6000.dll
/HNWNApplet/CMCS.Hardware/HikISCApi.Core/bin/HikISCApi.Core.dll
/HNWNApplet/CMCS.Hardware/HikISCApi.Core/obj
/HNWNApplet/CMCS.Hardware/LED.Dynamic.YB19/bin/LED.Dynamic.YB19.dll
/HNWNApplet/CMCS.Hardware/RW.HFReader/bin/RW.HFReader.dll
/HNWNApplet/CMCS.Hardware/RW.LZR12.Net/bin/CMCS.DapperDber.dll
/HNWNApplet/CMCS.Hardware/RW.LZR12.Net/bin/CMCS.Common.dll
/HNWNApplet/CMCS.Hardware/RW.LZR12.Net/bin/RW.LZR12.Net.dll
/HNWNApplet/CMCS.Hardware/Wagon_Meter_TOLEDO_IND231/bin/Wagon_Meter_TOLEDO_IND231.dll
/HNWNApplet/CMCS.Hardware/WB.YAOHUA.XK3190DS3/bin/WB.YAOHUA.XK3190DS3.dll
/HNWNApplet/CMCS.Hardware/WB.YAOHUA.XK3190DS3/obj
/HNWNApplet/CMCS.Monitor/CMCS.Monitor/bin/CMCS.DapperDber.dll
/HNWNApplet/CMCS.Monitor/CMCS.Monitor/bin/CMCS.Common.dll
/HNWNApplet/CMCS.Monitor/CMCS.Monitor/bin/BasisPlatform.dll
/HNWNApplet/CMCS.Monitor/CMCS.Monitor/bin/CMCS.Monitor.dll
/HNWNApplet/CMCS.Monitor/CMCS.Monitor.Win/bin/CMCS.DapperDber.dll
/HNWNApplet/CMCS.Monitor/CMCS.Monitor.Win/bin/CMCS.Common.dll
/HNWNApplet/CMCS.Monitor/CMCS.Monitor.Win/bin/CMCS.Monitor.dll
/HNWNApplet/CMCS.Resources/BasisPlatform/BasisPlatform.Forms.dll
/HNWNApplet/CMCS.Resources/BasisPlatform/BasisPlatform.dll
/HNWNApplet/CMCS.Test/CMCS.DataTester/bin/BasisPlatform.Forms.dll
/HNWNApplet/CMCS.Test/CMCS.DataTester/bin/BasisPlatform.dll
